body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.socket-chat {
    min-width: 300px !important;
    max-width: 300px !important;
    border-radius: 20px;
    border: solid thin black;
    background-color: wheat;
    position: fixed;
    bottom: 0;
    right: 0;
}
.title {
    cursor: move;
}
a {
    color: #00B7FF;
}
.mtl {
    margin-top: 20px;
}
.mts {
    margin-top: 5px;
}
.mtm {
    margin-top: 10px;
}
.mbs {
    margin-bottom: 5px;
}
.box {
    min-height: 50px;
}
.bas {
    border: thin blue solid;
}
.bold {
    font-weight: bold;
}
.right {
    float: right;
}
.left {
    float: left;
}
/* visited link */

a:visited {
    color: #00FF00;
}
/* mouse over link */

a:hover {
    color: #FF00FF;
}
textarea {
    border: 2px black solid !important;
}
.bts1 {
    border-top: 1px solid #dddddd;
}
